apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ include "test-basic.name" . }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /testpath
        backend:
          serviceName: {{ include "test-basic.name" . }}
          servicePort: {{ .Values.nginx.port }}

